
<table class="table table-striped m-t-sm">
    <thead>
    <tr>
        <#if !showColumns?? || showColumns?seq_contains("select")>
        <th><input type="checkbox" class="i-checks selectAll"></th>
        </#if>
        
        <#if !showColumns?? || showColumns?seq_contains("name")>
        <th>姓名</th>
        </#if>
        <#if !showColumns?? || showColumns?seq_contains("mobile")>
        <th>电话</th>
        </#if>
        <#if !showColumns?? || showColumns?seq_contains("idCard")>
        <th>身份证号</th>
        </#if>
        <#if !showColumns?? || showColumns?seq_contains("role")>
        <th>角色</th>
        </#if>
        <#if !showColumns?? || showColumns?seq_contains("operation")>
        <th style="width:120px;" class="th-operation">操作</th>
        </#if>
    </tr>
    </thead>
    <#if pagedResult.resultList?? && pagedResult.resultList?size gt 0>
    <#assign totalCount = pagedResult.totalCount>
    <tbody>
    <#list pagedResult.resultList as user>

        <#if flockId??>

            <#assign skip=false>
            <#list user.personFlocks as pf>

                <#if pf.flock.id==flockId>
                    <#assign skip=true>

                    <#break>
                </#if>
            </#list>
            <#if skip>
                <#assign totalCount = totalCount-1 />
                <#continue >
            </#if>
        </#if>


        <tr>
            <#if !showColumns?? || showColumns?seq_contains("select")>
            <td style="width:80px">
                <input type="checkbox" class="i-checks itemSelect" value="${user.id}" >
            </td>
            </#if>
            <#if !showColumns?? || showColumns?seq_contains("name")>
            <td>${user.name}</td>
            </#if>
            <#if !showColumns?? || showColumns?seq_contains("mobile")>
            <td>${user.mobile!user.username}</td>
            </#if>
            <#if !showColumns?? || showColumns?seq_contains("idCard")>
            <td>${user.idCard!'信息缺失'}</td>
            </#if>
            <#if !showColumns?? || showColumns?seq_contains("role")>
            <td>
                <#assign role="">
                <#list user.personFlocks as pf>
                    <#if pf.type==1 && pf.flock.controlType == 1>
                        <#assign role="1">
                       ${pf.flock.name}&nbsp;
                    </#if>
                </#list>
                ${(role=="")?string("暂无","")}
            </td>
            </#if>
            <#if !showColumns?? || showColumns?seq_contains("operation")>
                 <td style="display: flex;justify-content:space-around;width:120px;padding-top: 20px;" class="td-operation">
                      <#if user.id != userId>
                          <a href="javascript:;" class="userOpts" data-opt="edit" data-id="${user.id}"><i class="fa fa-edit"></i></a>
                          <!-- <a href="javascript:;" class="userOpts" data-opt="resetPassword" data-id="${user.id}"><i class="fa fa-unlock-alt"></i></a> -->
                          <a href="javascript:;" class="userOpts" data-opt="${(user.userStatus==1)?string("disableUser","enableUser")}" data-id="${user.id}"><i class="fa fa-${(user.userStatus==1)?string("ban","check-circle-o")}"></i></a>
                          <a href="javascript:;" class="userOpts" data-opt="deleteUser" data-id="${user.id}"><i class="fa fa-trash"></i></a>
                      </#if>

                 </td>
            </#if>
        </tr>
    </#list>

    </tbody>
    </#if>
</table>

<#if pagedResult.resultList?? && pagedResult.resultList?size gt 0>
<div class="pageContainer text-right" data-total="${totalCount}" data-page="${pagedResult.currentPage}">
</div>
</#if>



<#if !pagedResult.resultList?? || pagedResult.resultList?size == 0>

    <#assign message="暂无数据" />
    <#include "../../tpl/no-data.html" /> 
</#if>