
<style>
    .waterfall-list  {
        color: #3E4956;
    }
    
    .waterfall-list .seperate-date {
        font-size: 17px;
        line-height: 17px;
        padding: 10px 0;
    }
    
    .waterfall-list > .item  {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-left: 70px;
        margin-bottom: 40px;
    }
    .waterfall-list > .item > div {
        float: left;
    }
    
    .waterfall-list > .item > div.lft-level {
        width: 50px;
        height: 50px;
        font-size: 14px;
        text-align: center;
        line-height: 14px;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50px;
        background-color: #92A2CA;
        color: #fff;
        padding: 12px 0;
    }
    .waterfall-list div.level-1 {

        background-color: #FF4D77 !important;
    }
    .waterfall-list div.level-2 {

        background-color: #FFBE32 !important;
    }
    
    .waterfall-list > .item > div.rgt-info {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #D6DBE6;
        padding: 15px 30px;
    }
    
    .waterfall-list > .item > div.rgt-info > .opts {
        float: right;
    }
    .waterfall-list > .item > div.rgt-info > div {
        margin-bottom: 15px;
        font-size: 14px;
    }
    
    .waterfall-list > .item > div.rgt-info > div:last-child {
        margin-bottom: 0;
    }

    .field-unqualifiedLevelTwo {
        font-size: 16px;
        font-weight: bold;
    }
    .field-unqualifiedLevelTwo > span {
        display: none;
    }
    .waterfall-list .selected-area {
        display: inline-block;
    }
    .waterfall-list .selected-area li{
        display: inline-block;
        padding: 10px 20px 10px 0;
    }
    .waterfall-list .selected-area li span {
        cursor: pointer;
        text-decoration: underline;
    }
</style>
<#if data.resultList?size gt 0>

<#assign colorMap= {"1":"#28D582","2":"#92A2CA","3":"#7D68FF","4":"#FFBE32","5":"#FF80B9","6":"#FF4D77"}>
<#setting date_format = 'yyyy/MM/dd'>
<div class="waterfall-list">
    <#assign inspectDate = "">
    <#list data.resultList as entity>
        <#if entity.createTime?number_to_date + "" != inspectDate>
            <div class="seperate-date">
                <#assign inspectDate = entity.createTime?number_to_date + "">
                ${inspectDate}
            </div>
        </#if>
        <div class="item mgt20">
            <#assign itemLevel = entity.unqualifiedGrade?split(",")>
            <#assign maxLevel = (itemLevel?reverse)[0]>
           <!--  <div class="lft-level" style="background-color:${colorMap[maxLevel]}" data-level="${entity.unqualifiedGrade}">
                ${entity.unqualifiedProGrade?substring(0, 2)}<br>
                ${entity.unqualifiedProGrade?substring(2, 4)}
            </div> -->
            <div class="lft-level" style="background-color:${colorMap[maxLevel]}" data-level="${entity.unqualifiedGrade}">
                ${entity.unqualifiedProGrade?substring(0, 2)}<br>
                ${entity.unqualifiedProGrade?substring(2, 4)}
            </div>
            <div class="rgt-info" 
            <#list tpl.items as item>
            <#if item.type== 99>
                <#assign hiddenVars = item.dataKey?split('-') />
                <#list hiddenVars as var>
                    data-${var}="<#if entity[var]?is_boolean>${entity[var]?string('1','2')}<#else>${entity[var]}</#if>" 
                </#list>
            </#if>
            
            </#list>
            >
                    <div class="opts">
                    <#list tpl.items as item>
                    <#if item.type == 90>
                        <#list item.typeExtend.code?split(',') as code>
                            <#assign opt = code>
                            <#assign optName = ''>
                            <#if code?split('-')?size gt 1>
                                <#assign opt = code?split('-')[0]>
                                <#assign optName = code?split('-')[1]>
                            </#if>
                            <a href="javascript:;" class="entityOpts text-navy" data-opt="${opt}" ><i class="fa fa-${opt}">&nbsp;</i>${optName}</a>
                        </#list>
                    </#if>
                    </#list>
                    </div>
                <#list tpl.items as item>
                <#if item.type != 90 && item.type !=99>
                    <div class="field field-${item.dataKey}"><span>${item.title}：</span>
                        
                        <#if item.type == 3>
                            <#assign dkParams = item.dataKey?split('-') />
                            <#if dkParams?size == 3>
                                <#assign dkey = dkParams[0]/>
                                <#assign dindex = dkParams[1]?eval/>
                                <#assign dname = dkParams[2]/>
                                ${entity[dkey][dindex][dname]}
                            </#if>
                            <#if dkParams?size == 2>
                                <#assign dkey = dkParams[0]/>
                                <#assign dname = dkParams[1]/>
                                ${entity[dkey][dname]}
                            </#if>
                            <#if dkParams?size == 1>
                                ${entity[dkParams]}
                            </#if>
                        </#if>
                        <#if item.type == 5>
                            <#assign dkParams = item.dataKey?split('-') />
                            <#if dkParams?size gt 1>
                                <#assign dkey = dkParams[0]>
                                <#assign dname = dkParams[1]>
                                <#list entity[dkey] as _c>
                                    ${_c[dname]}<#if _c_index != entity[dkey]?size -1>,</#if>
                                </#list>
                            <#else>
                                ${entity[dkParams]}
                            </#if>
                        </#if>
                        
                        <#if item.type == 8>
                            ${entity[item.dataKey]?number_to_date}
                        </#if>
                        <#if item.type == 1>
                            ${entity[item.dataKey]}
                        </#if>
                        <#if item.type == 31>
                            <ul class="selected-area">
                                <#if entity[item.dataKey]?size gt 0>
                                    <#list entity[item.dataKey] as file>
                                    <#assign fileUrl = file.storage[0].fileStorageUrl />
                                    <li data-filetype="${file.originalMimeType}" data-url="${file.storage[0].fileStorageUrl}">
                                        <i class="fa ${file.viewFileType}"></i>&nbsp;<span class="file-name">${file.originalName}</span>
                                    </li>
                                    </#list>
                                <#else>
                                    无
                                </#if>
                            </ul>
                            
                        </#if>
                    </div>
                </#if>
                </#list>
            </div>
        </div>
    </#list>
</div>
<div class="pageContainer text-right" data-total="${data.totalCount}" data-page="${data.currentPage}"></div>
<#else>
    <#assign message="暂无数据" />
    <#include "no-data.html" /> 
</#if>
<script>
(function(){
    $('.waterfall-list .selected-area .file-name').unbind().on('click',function(){
        let self = $(this),
            parent = self.parents('li'),
            fileName = self.text(),
            pathUrl = parent.attr('data-url'),
            filetype = parent.attr('data-filetype'),
            tempList = ['gif','jpg','jpeg','png','pdf'],
            isTempType = false;
        
        for(let i = 0; i < tempList.length; i++) {
            if(tempList[i] == filetype) {
                isTempType = true;
            }
        }
            
        if(isTempType) {
            openPanel();
        } else {
            $http.get({
                data: {
                    viewChannel: 'yozosoft',
                    filePath:pathUrl,
                    previewFileName: fileName
                },
                url: "document/supportPreview"
            },function(res){	
                
                if(res.result == true) {
                    $http.post({
                        data: {
                            viewChannel: 'yozosoft',
                            filePath:pathUrl,
                            previewFileName: fileName
                        },
                        url: "document/preview"
                    },function(res){	
                        pathUrl = res;
                        openPanel();
                    })
                } else {
                    layer.msg('不支持预览',{icon:5});
                }
            })
        }
        function openPanel() {
            layer.open({
                type : 1,
                title :'【' + fileName + '】 在线预览',
                shadeClose: false,
                closeBtn: 1, 
                anim: 2,
                skin : 'layui-layer-rim', //加上边框
                area : [ '800px', '600px' ], //宽高
                btn: ['全屏'],
                content : '<div class="filer-filepreview-open" style="background:#F3F5F5">' + "<iframe src='" + pathUrl + "' width='100%' height='485px' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>" + '</div>',
                yes: function(oneOpenIndex){
                    let oneOpen = $('#layui-layer' + oneOpenIndex);
                        H = window.innerHeight - 120;
                    oneOpen.addClass('hide');
                    let twoOpen = layer.open({
                        type : 1,
                        title :'【' + fileName + '】 在线预览',
                        shadeClose: false,
                        closeBtn: 1, 
                        anim: 2,
                        skin : 'layui-layer-rim', //加上边框
                        btn: ['还原'],
                        area : [ '100%', '100%' ], //宽高
                        content : '<div class="filer-filepreview-open" style="background:#F3F5F5">' + "<iframe src='" + pathUrl + "' width='100%' height='" + H + "px' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>" + '</div>',
                        yes: function(fullSIndex){
                            oneOpen.removeClass('hide');
                            layer.close(fullSIndex)
                        }
                    });
                    $('#layui-layer' + twoOpen + ' .layui-layer-close').on('click',function(){
                        layer.close(oneOpenIndex)
                    });
                }
            });
        }
    }); 
}())
</script>