
<div class="wrapper-content common-management" id="common-management-${timestamp}">
    <form>
        <div class="row">
            <div class="col-sm-6" style="padding-left:10px">
                <@codeValidation codes=operationCodes operationCode="qrcode-print">
                <button class="entityOpts btn ls-btn btn-primary" data-opt="batchPrint" type="button">批量打印</button>
                </@codeValidation>
            </div>
            <div class="col-sm-3">
                <#include "../../tpl/basic-config/view-scope.html" />
            </div>
            <@codeValidation codes=operationCodes operationCode="search">
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" placeholder="请输入关键词" class="input-sm form-control ls-input" name="keyword">
                    <span class="input-group-btn">
                        <button type="button" onclick="reloadList('keyword')" class="btn ls-btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            </@codeValidation>

        </div>
    </form>
    <div class="table-responsive data-list"></div>
</div>

<script>
var  qrcode_showColumns = '${showColumns!"[]"}';
if(typeof qrcode_showColumns == "string") {
    qrcode_showColumns = JSON.parse(qrcode_showColumns);
}
var qrCodeTm = new TableManage({
    wrapId: '#common-management-${timestamp}',
    moduleName: 'qrcode',
    showColumns: qrcode_showColumns,
    operationCodes: '${operationCodes}',
    loaded: function(){
        let operationCodes = qrCodeTm.operationCodes;
        if(operationCodes.indexOf('qrcode-print') == -1) { //打印权限
            $(qrCodeTm.wrapId + ' td a[data-opt="print"]').remove();
            $(qrCodeTm.wrapId + ' .th-operation').remove();
            $(qrCodeTm.wrapId + ' .td-operation').remove();
        } 
    }
}, function(res) {
    if (res.opt == 'qrcode') {
        new CodesManage().codesShow(res.sn);
    }
    if (res.opt == 'print') {
        new CodesManage().codesPrint(res.sn);
    }
    if (res.opt == 'printMsg') {
        new CodesManage().codesPrint(res.sn);
    }
    if (res.opt == 'batchPrint') {
        let selectedEl = $(qrCodeTm.wrapId + ' tbody input:checked'),
            sn_list = [];
        if(selectedEl.length == 0) {
            layer.msg('未选择批量打印数据对象',{icon:5});
            return false;
        }
        selectedEl.map((index,item) => {
            sn_list.push($(item).val());
        }) 
        new CodesManage().codesPrint(sn_list.join(','));
    }
})

function reloadList(key) {
    if (key == 'keyword') {
        var val = $('#common-management-${timestamp} form input[name="keyword"]').val();
        if (val.replace(/\s*/g,"").length == 0) {
            layer.msg('关键词不能为空！');
            return false;
        }
    }
    qrCodeTm.loadList(1, 10);
}
</script>