.subject-info {
    background-color: #fff;
    padding: 25px 0;
}

.subject-info > div {
    width: 690px;
    margin: 0 auto 40px;
}

.subject-info > div > div.item,
.subject-info > div > div.item {
    width: 100%;
    padding: 16px 15px;
    font-size: 17px;
    line-height: 17px;
}

.subject-info > div > div.item > .name {
    font-weight: bold;
}



.subject-info  div.logo > div.name,
.subject-info  div.name > div.name {
    display: none;
}

.subject-info  div.logo > div.detail,
.subject-info  div.name > div.detail {
    width: 100%;
    text-align: center;
}

.subject-info  div.name > .detail {
    font-size: 22px;
    color: #3E4956;
    font-weight: bold;
}
.subject-info div.logo img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}



.sc-info .mel-info {
    width: 715px;
    color: #3E4956;
    padding: 16px 0 18px;
}
.sc-info .mel-info > div.item {
    width: 100%;
    padding: 16px 15px 16px 60px;
    font-size: 16px;
}

.sc-info .mel-info > div.name > .name {
    display: none;
}
.sc-info .mel-info > div.name > .detail {
    padding-left: 0;
    font-size: 18px;
    font-weight: bold;
}


