
<style>
.opts .iconfont {
	font-size: 16px;
}
</style>
<section id="security-center-${timestamp}">
    <div class="basic-box sc-info">
        <div class="seperate-title">
            <span>基本信息</span>
            <div class="opts">
                <a  class="text-navy" href="javascript:goPage('form?id=${data.id}');" style="width: 150px;"><span class="iconfont icon-icon_edit"></span></a>
            </div>
        </div>
        <#include "../../tpl/detail.html"/>
    </div>
    <div class="basic-box ">
        <div class="seperate-title">
            <span>人员信息</span>
            <div class="opts">
                <a class="text-navy" href="javascript:;"><span class="iconfont icon-icon_"></span></a>
            </div>
        </div>
        <div class="relate-users"></div>
    </div>
</section>
<script>

    $http.get({
        url: 'user/index',
        data: {
            page: 1,
            limit: 10,
            ecmId: '${data.ecmId}',
            ecmDeep: false,
            queryFlockIds: '${data.flockId}',
            additionFlockId: '${data.flockId}'
        },
        forbidLoading: true
    }, function(res) {
        $('#security-center-${timestamp} .relate-users').html(res);
    })
</script>

